################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/dublet/bin/Debug
/dublet/obj
/dubletLib/bin/Debug
/dubletLib/obj
/Framework/bin
/Framework/obj
/.vs/dublet
